---
import Hero from "../components/Hero.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio">
    <main>
        <SectionContainer class="grid grid-cols-2 gap-10 py-10">
            <Hero />
        </SectionContainer>
    </main>
</Layout>
