---
import { Image } from "astro:assets";
import Logo from "../assets/img/logo.jpg";
---

<header
    class="border-b-4 border-primary py-2 text-gray-900 shadow-[0px_5px_15px_rgba(0,0,0,0.35)] sticky tracking-wider"
>
    <nav
        class="max-w-screen-xl flex flex-row items-center justify-between mx-auto"
    >
        <a class="inline-block" href="/">
            <Image
                class="inline-block size-24"
                src={Logo}
                alt="Logo de Clinica de Puertas de Carros J&G"
                loading="eager"
            />
            <span class="align-middle font-bold inline-block leading-5 ml-3"
                >Clinica de Puertas de<br />Carros J&G</span
            >
        </a>

        <ul>
            <li class="inline-block px-4 py-2">
                <a href="/">Inicio</a>
            </li>
            <li class="inline-block px-4 py-2">
                <a href="/productos">Productos</a>
            </li>
            <li class="inline-block px-4 py-2">
                <a href="/contactanos">Contactanos</a>
            </li>
        </ul>
    </nav>
</header>
