@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-primary: #FC0204;
    --color-secondary: #007aff;
    --default-font-family: Roboto, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
